body{
    padding-top:0px;
    margin-top:0px;
}

.navbar-item-custom, .navbar-item-custom a{
    color:#fff;
}

.footer-custom{
    text-align:center;
    bottom:0;
    width:100%;
    background-color:#dfeaff;;
    padding-top:25px;
}

.product-item h5{
    text-transform:uppercase;
    font-size:15px;
    margin-bottom:1px;
}

.product-item{
    margin-top:50px;
}

.product-item .product-subtitle{
    font-size:14px;
    display:block;
    margin-bottom:10px;
}

.product-item .product-price{
    font-size:15px;
    font-weight:bold;
}

.product-container{
    margin-bottom:15px;
}

.row{
    flex-wrap:no-wrap;
}

.product-page-price{
    font-size:19px;
}