body{
    min-height:100vh;
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a{
    color:#fff;
}

.footer-custom{
    text-align:center;
    width:100%;
    position: absolute;
    bottom: 0;
    background-color:#dfeaff;
    padding-top:25px;
    margin-top:50px;
}

.product-item h5{
    text-transform:uppercase;
    font-size:15px;
    margin-bottom:1px;
}

.product-item{
    margin-top:50px;
}

.product-subtitle{
    font-size:14px;
    display:block;
    margin-bottom:10px;
}

.product-price{
    font-size:15px;
    font-weight:bold;
}

.product-container{
    margin-bottom:150px;
}

.product-page-price{
    font-size:19px;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
  }

  #submit{
      margin-top:250px;
  }

  .cart-icon{
      height:20px;
      padding-left:20px;
  }

  .block-small{
     max-width:600px;
     margin:0 auto;
  }

  .col-form-label{
      font-weight:bold;
  }

  .order-summary{
    background-color: #f4f8ff;
    padding:20px;
    margin-top:22px;
  }
  